# {{ ansible_managed }}
ui            = {{ vault_server_ui | lower }}
cluster_name  = "{{ lab_name | default('spark-lab') }}"
api_addr      = "{{ vault_server_addr }}"
cluster_addr  = "https://{{ ansible_host }}:8201"
disable_mlock = true   # required with integrated storage (raft) — see docs

storage "raft" {
  path    = "{{ vault_server_data_dir }}"
  node_id = "{{ vault_server_node_id }}"
}

listener "tcp" {
  address         = "0.0.0.0:8200"
  cluster_address = "0.0.0.0:8201"
  tls_cert_file   = "{{ vault_server_tls_dir }}/vault.crt"
  tls_key_file    = "{{ vault_server_tls_dir }}/vault.key"
  tls_min_version = "tls12"
}

telemetry {
  prometheus_retention_time = "24h"
  disable_hostname          = true
}
